*{
    font-family: Arial;
    border : border-box;
}
.top{
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.name{
    font-size: 25px;
    color: rgb(4, 109, 214);
    font-weight: bold;
    display: flex;
    align-items: center;
}
.center-data{
    width: 416px;
    margin-left: 33%;
    margin-right: 33%;
    display: flex;
    height: 600px;
    flex-direction: column;
    border: 1px solid rgb(200, 196, 196);
    align-items: center;
    border-radius: 8px;
    justify-content: space-around;

     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.btnround:hover{
  background-color: #f5f5f5; /* Light background change */
  transform: scale(1.02); /* Slight zoom effect */
  transition-duration: 0.1s; /* Smooth transition */
}
.btnround1:hover{
    border-color: #083b99;
    background-color: #083b99; 
    transform: scale(1.02); 
    transition-duration: 0.1s;
}
.signin{
    margin-right: 48%;
}
.google{
    padding-bottom: 20px;
}
.btnround{
    background-color: white;
    height: 50px;
    width: 300px;
    border-width: 1px;
    border-radius: 30px;
}
.btnround1{
    border-color: rgb(41, 122, 228);
    color: aliceblue;
    background-color: rgb(41, 122, 228);
    height: 50px;
    width: 300px;
    border-width: 2px;
    border-radius: 30px;
}
.email{
    padding-bottom: 20px;
}
.pass{
    padding-bottom: 20px;
}
.ormessage{
    height: 10px;
    display: flexbox;
}
.ormessage:before{
    background-color: #083b99;
    border: 2px solid #083b99;
    width: 20px;
    height: 2px;
}
.lowercontent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.passforgot{
    font-family: 16px;
    padding-bottom: 10px;
}
.buttonofsignin{
    padding: 10px;
}
.messagefornewone{
    padding-right: 50px;
    display: flex;
    justify-content: center;
}
.dataentry{
    margin: 5%;
    justify-content: space-between;
    display: flex;  
    flex-direction: column;
}
.email, .pass{
    padding: 28px 12px 6px;
    width: 300px;
    align-content: center;
}
.email{
    margin-bottom: 25px;
}